header{

    position:fixed;

    width:100%;

    top:0;

    left:0;

    backdrop-filter:blur(14px);

    background:rgba(11,15,23,.75);

    border-bottom:1px solid rgba(255,255,255,.05);

    z-index:100;

    height:var(--header-height);

}

.navbar{

    height:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    font-size:1.9rem;

    font-weight:800;

    letter-spacing:-1px;

    background:linear-gradient(
        90deg,
        var(--green),
        var(--pink)
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}

.navbar ul{

    display:flex;

    gap:2rem;

    list-style:none;

}

.navbar a{

    font-size:1rem;

    font-weight:500;

    color:var(--text);

    text-decoration:none;

    transition:var(--transition);

}

.navbar a:hover{

    color:var(--green);

}